body {
    text-align: center;
    margin: 0;
    background: #00a9a9;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: Monoton, sans-serif;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

#color_picker {
    margin: 20px 0 50px 0;

}

main {
    display:flex; 
    flex-direction: column;
    align-items: center;
}

    
.instructions-cont {
    position: fixed;
    /* left: 20px; */
    transform: translateX(-440px);
    left: 20px;
    top: 30vh;
    background-color: #e8de78;
    border: 1px solid rgb(158, 76, 0);
    border-radius: 25px;
    font-style: italic;
    max-width: 450px;
    text-align: initial;
    /* height: 400px; */
    /* margin: 0 50px 30px 20px;  */
    transition: all 0.8s;
}

.main-instr {
    vertical-align: middle;
    display: inline-block;
    /* border: 1px solid pink; */
    max-width: 420px;
}

.main-instr h2 {
    text-align: center;
}

.instr-toggle {
    display: inline-block;
    width: 20px;
    /* background-color: rgb(241, 174, 57); */
    /* border: 1px solid rgb(158, 76, 0); */
    margin: 0;
    padding: 5px;
}

.instr-toggle:hover {
    cursor: pointer;
    color: #3b613e;
}

.instr-show {
    transform: translateX(0);
}

.fa-arrow-circle-right {
    transition: all 0.8s;
}

.instr-show .fa-arrow-circle-right {
    transform: rotate(180deg);
}

#pixel_canvas {
    border-collapse: collapse;
    border: 1px solid grey;
    margin-bottom: 50px;
}

/* #tools {
    flex-basis: 100%;
    justify-content: flex-start;
} */

ul {
    text-align: left;
    font-size: 1.2em;
}

li {
    margin: 10px;
}

.function_button {
    width: 2em;
    height: 2em;
    font-size: 1em;
    margin: 0 1px;
}

tr {
    height: 20px;
}

td {
    width: 20px;
    /* height: 20px; */
    background-color: white;
    cursor: pointer;
}

.cellBorders {
    border: 1px solid black;
}

input[type=number] {
    width: 6em;
}

.colorPickerButton {
    margin: 0 3em 1em 0;
}

#fillButton {
    margin-right: 15px;
}

.design_header {
    font-family: 'Itim', cursive, serif;
    font-size: 2em;
    margin: 5px 0;
    padding: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00806e;
    border-top: 1px solid #b3ac6a;
    min-height: 60px;
}

footer > * {
    margin: 0 2em;
}

footer time {
    font-style: italic;
    font-size: 0.9em;
}

footer a {
    color: inherit;
    text-decoration: none;
}

.author {
    color: #cabe47;
}

.source {
    color: #2424a2;
}